<nav class="navbar fixed-top">
    <div class="d-flex align-items-center navbar-left">
        {# <a href="#" class="menu-button d-none d-md-block"> #}
        {# <svg class="main" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 17"> #}
        {# <rect x="0.48" y="0.5" width="7" height="1" /> #}
        {# <rect x="0.48" y="7.5" width="7" height="1" /> #}
        {# <rect x="0.48" y="15.5" width="7" height="1" /> #}
        {# </svg> #}
        {# <svg class="sub" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 17"> #}
        {# <rect x="1.56" y="0.5" width="16" height="1" /> #}
        {# <rect x="1.56" y="7.5" width="16" height="1" /> #}
        {# <rect x="1.56" y="15.5" width="16" height="1" /> #}
        {# </svg> #}
        {# </a> #}

        <a href="#" class="menu-button-mobile d-xs-block d-sm-block d-md-none">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 17">
                <rect x="0.5" y="0.5" width="25" height="1"/>
                <rect x="0.5" y="7.5" width="25" height="1"/>
                <rect x="0.5" y="15.5" width="25" height="1"/>
            </svg>
        </a>

        {% if app.user %}
            <a href="#" class="menu-button-mobile d-xs-none d-none d-sm-block">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 17">
                    <rect x="0.5" y="0.5" width="25" height="1"/>
                    <rect x="0.5" y="7.5" width="25" height="1"/>
                    <rect x="0.5" y="15.5" width="25" height="1"/>
                </svg>
            </a>
            <div class="d-flex flex-column ml-2 ml-sm-5 mb-2">
                <div class="d-flex align-items-center justify-content-between w-100 text-center">
                    <div class="d-flex flex-column">
                        <img src="/img/gamification/diamond.png" style="width: 25px"/>
                        <span id="score">0</span>

                    </div>

                    <div class="d-flex flex-column">
                        <img src="/img/gamification/trofey.png" style="width: 25px"/>
                        <span id="trophy">0</span>
                    </div>
                </div>
                <progress style="width: 100px" class="" id="progressScore" value="" max="1000"></progress>
            </div>
        {% endif %}
    </div>


    <a class="navbar-logo" href="{{ path('index') }}">
        <span class="logo d-block"></span>
        {# <span class="logo-mobile d-xs-none"></span> #}
    </a>

    <div class="navbar-right">
        <div class="header-icons d-inline-block align-middle">

            <div class="position-relative d-none d-sm-inline-block">
                {% if (app.user) %}
                    <div class="d-none d-md-inline-block align-text-bottom mr-3">
                        <div class="mb-auto d-flex flex-row align-items-center">
                            <span class="h6 mb-auto">{{ app.user.name }}</span>
                        </div>
                    </div>
                    <button class="header-icon btn btn-empty" type="button" id="iconMenuButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <i class="simple-icon-grid"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right mt-3 w-auto h-auto position-absolute"
                         id="iconMenuDropdown">
                        <div class="d-flex justify-content-start">
                            {% if (app.user) %}
                                <a href="/logout"
                                   class="icon-menu-item mb-auto mt-0 p-0 d-flex flex-column">
                                    <i class="simple-icon-logout d-block"></i>
                                    <span class="p-0">Logout</span>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
            {% if not (app.user) %}
                <div class="d-none d-md-inline-block align-text-bottom mr-3">
                    <a href="{{ path('app_login') }}" class="mb-auto d-flex flex-row align-items-center">
                        <span class="h6 mb-auto">Acesso a plataforma</span>
                        <i class="simple-icon-login d-block ml-2"></i>
                    </a>
                </div>
            {% endif %}
            <div class="d-none d-md-inline-block align-text-bottom mr-3">
                <div class="custom-switch custom-switch-primary-inverse custom-switch-small pl-1"
                     data-toggle="tooltip" data-placement="left" title="Modo escuro">
                    <input class="custom-switch-input" id="switchDark" type="checkbox" checked>
                    <label class="custom-switch-btn" for="switchDark"></label>
                </div>
            </div>

            <button class="header-icon btn btn-empty d-none d-sm-inline-block" type="button" id="fullScreenButton">
                <i class="simple-icon-size-fullscreen"></i>
                <i class="simple-icon-size-actual"></i>
            </button>

        </div>

        {# <div class="user d-inline-block"> #}
        {# <button class="btn btn-empty p-0" type="button" data-toggle="dropdown" aria-haspopup="true" #}
        {# aria-expanded="false"> #}
        {# <span class="name">Sarah Kortney</span> #}
        {# <span> #}
        {# <img alt="Profile Picture" src="/img/profile-pic-l.jpg" /> #}
        {# </span> #}
        {# </button> #}

        {# <div class="dropdown-menu dropdown-menu-right mt-3"> #}
        {# <a class="dropdown-item" href="#">Account</a> #}
        {# <a class="dropdown-item" href="#">Features</a> #}
        {# <a class="dropdown-item" href="#">History</a> #}
        {# <a class="dropdown-item" href="#">Support</a> #}
        {# <a class="dropdown-item" href="#">Sign out</a> #}
        {# </div> #}
        {# </div> #}
    </div>
</nav>
{% if app.user %}
<script src="/js/gamification/score.js"></script>
<script>
    let gameResult = getTotalScore("{{ app.user.id }}");
    document.getElementById('score').innerHTML = gameResult.score;
    document.getElementById('trophy').innerHTML = gameResult.trophy;
    document.getElementById('progressScore').value = getProgressScore(gameResult)
</script>
{% endif %}