<div class="menu">
    <div class="main-menu">
        <div class="scroll">
            <ul class="list-unstyled">
                <li>
                    <a href={{ path('register') }}>
                        <i class="simple-icon-user-follow"></i> Registrar
                    </a>
                </li>
            </ul>
        </div>
        <div class="position-absolute w-100 mb-3 mx-4" style="bottom: 0">
            <ul class="list-unstyled d-sm-none">
                <li>
                    <div class="custom-switch custom-switch-primary-inverse custom-switch-small">
                        <input class="custom-switch-input" id="switchDark" type="checkbox" checked>
                        <label class="custom-switch-btn" for="switchDark"></label>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>