<div class="menu">
    <div class="main-menu">
        <div class="scroll">
            <ul class="list-unstyled">
                {% if not (app.user) %}
                    <li>
                        <a href={{ path('register') }}>
                            <i class="simple-icon-user-follow"></i> Registrar
                        </a>
                    </li>
                    <li>
                        <a href={{ path('app_login') }}>
                            <i class="simple-icon-login"></i> Login
                        </a>
                    </li>
                {% endif %}

                {% if (app.user) %}
                    <li>
                        <a href="/logout">
                            <i class="simple-icon-logout"></i> Logout
                        </a>
                    </li>
                    <li>
                        <a style="text-align: center !important;" href={{ path('register_address') }}>
                            <i class="simple-icon-location-pin"></i> Cadastro de endereço
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="position-absolute w-100 mb-3 mx-4" style="bottom: 0">
            <ul class="list-unstyled d-sm-none">
                <li>
                    <div class="custom-switch custom-switch-primary-inverse custom-switch-small">
                        <input class="custom-switch-input" id="switchDark" type="checkbox" checked>
                        <label class="custom-switch-btn" for="switchDark"></label>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>