<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content= "width=device-width, user-scalable=no">

    <link rel="stylesheet" href="/font/iconsmind-s/css/iconsminds.css" />
    <link rel="stylesheet" href="/font/simple-line-icons/css/simple-line-icons.css" />

    <link rel="stylesheet" href="/css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/vendor/bootstrap.rtl.only.min.css" />
    <link rel="stylesheet" href="/css/vendor/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="/css/vendor/datatables.responsive.bootstrap4.min.css" />
    <link rel="stylesheet" href="/css/vendor/select2.min.css" />
    <link rel="stylesheet" href="/css/vendor/perfect-scrollbar.css" />
    <link rel="stylesheet" href="/css/vendor/owl.carousel.min.css" />
    <link rel="stylesheet" href="/css/vendor/bootstrap-stars.css" />
    <link rel="stylesheet" href="/css/vendor/nouislider.min.css" />
    <link rel="stylesheet" href="/css/vendor/bootstrap-datepicker3.min.css" />
    <link rel="stylesheet" href="/css/vendor/component-custom-switch.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/dore.dark.green.css">
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="icon" href="/img/logo-single.png">
    <link rel="stylesheet" type="text/css" href="/css/secondary-styles.css">
    {% block vendor_css %}{% endblock %}
    {% block css %}{% endblock %}

</head>

<script src="/js/vendor/jquery-3.3.1.min.js"></script>

<!-- START: HEADER -->
{% block topMenuHeader %}
    {% include 'base/header.html.twig' %}
{% endblock %}
<!-- END: HEADER -->

<!-- START: HEADER -->
{% block topMenu %}
    {% include 'base/menu.html.twig' %}
{% endblock %}
<!-- END: HEADER -->


<body
        class="menu-default show-spinner" id="app-container">

<main>
    <div class="container-fluid">

        {% block pageTitle %}
            <div class="row">
                <div class="col-12">
                    <h1>{% block page_title %}{% endblock %}</h1>
                </div>

            </div>
        {% endblock %}

        <!-- START: PAGE CONTENT -->
        {% block content %}{% endblock %}
        <!-- END: PAGE CONTENT -->

    </div>
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/vendor/bootstrap.bundle.min.js"></script>
<script src="/js/vendor/perfect-scrollbar.min.js"></script>
<script src="/js/vendor/mousetrap.min.js"></script>
<script src="/js/dore.script.js"></script>
<script src="/js/scripts.js"></script>
<script type="module" src="/js/fullcalendar.js"></script>
{% block js %}{% endblock %}
</body>

</html>