{% extends 'base/template.html.twig' %}

{% block title %}Portal Lovelace{% endblock %}

{% block vendor_css %}
    <link href='/node_modules/fullcalendar/main.css' rel='stylesheet'/>
    <link rel="stylesheet" href="/css/vendor/fullcalendar.css"/>
    <link rel="stylesheet" href="/css/fullcalendar.css"/>
{% endblock %}

{% block content %}
    <h3>Olá {{ app.user.name }}</h3>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 col-lg-8 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Calendário</h5>
                        <div id="calendar" style="cursor: pointer" class="calendar"></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Informações</h5>
                        <p class="h6" id="weekday"></p>
                        <p id="information"></p>
                        <div id="video-div">
                            <div class="text-center">
                                <span id="text-choose" class="h2">Escolha uma data</span>
                            </div>
                        </div>
                        <form id="form-classes" action="{{ path('teacher_save_class') }}" method="post"
                              style="display: none">
                            <div class="form-group mb-3">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="inputGroupSelect01">Aula</label>
                                    </div>
                                    <select name="className" class="custom-select" id="selectClasses">
                                        <option selected>Opções ...</option>
                                        <option value="linguagem">Linguagem de programação</option>
                                        <option value="logica">Lógica de programação com Javascript</option>
                                        <option value="banco">Banco de dados</option>
                                        <option value="front">Front end</option>
                                        <option value="cultura">Cultura agil</option>
                                        <option value="soft">Soft skills</option>
                                    </select>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="inputGroupSelect01">Horário</label>
                                    </div>
                                    <select required name="hours" class="custom-select" id="selectHours">
                                        <option selected>Opções ...</option>
                                        <option value="20">20:00 - 21:00</option>
                                        <option value="21">21:15 - 22:15</option>
                                    </select>
                                </div>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Url do YouTube</span>
                                    <input type="text" name="youtube" class="form-control" id="youtube"
                                           aria-label="Url do YouTube"
                                           aria-describedby="inputGroup-sizing-default">
                                </div>
                                <div class="d-flex flex-row justify-content-end">
                                    <div class="mt-3">
                                        <button class="btn-primary btn col-12" type="submit">Salvar</button>
                                    </div>
                                    <div class="mt-3 ml-3" id="delete-div" style="display: none">
                                        <button type="button" id="delete-button" class="btn-danger btn col-12">Apagar</button>
                                    </div>
                                    <input type="hidden" name="date" id="dateInput">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="/js/vendor/moment.min.js"></script>
    <script src="/node_modules/fullcalendar/main.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var information = document.getElementById("information");
            var weekdayTag = document.getElementById("weekday");
            var title = document.getElementById("title");
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                locale: 'pt-br',
                themeSystem: "bootstrap",
                hour: 'numeric',
                minute: '2-digit',
                omitZeroMinute: false,
                meridiem: false,
                events: function (fetchInfo, successCallback, failureCallback) {
                    var events = function () {
                        var event = null
                        $.ajax({
                            'async': false,
                            'type': "GET",
                            'url': "/student/classes",
                            success: function (data) {
                                event = data;
                            },
                            error: function (data) {
                                event = [];
                            }
                        });
                        return event;
                    }()
                    successCallback(events)
                },
                dateClick: function (info) {
                    $("#youtube").val('')
                    $('#form-classes').removeAttr('style')
                    $("#dateInput").val('')
                    var weekdays = [
                        'Domingo',
                        'Segunda-feira',
                        'Terça-feira',
                        'Quarta-feira',
                        'Quinta-feira',
                        'Sexta-feira',
                        'Sábado',
                    ]
                    $('#text-choose').attr('style', 'display: none')
                    var date = new Date(info.dateStr)
                    date.setDate(date.getDate() + 1)
                    weekdayTag.innerText = weekdays[date.getDay()]
                    information.innerText = date.toLocaleDateString('pt-br')
                    let selectClasses = document.getElementById('selectClasses');
                    if (selectClasses) {
                        var selects = Array.from(selectClasses.children)
                        selects.forEach(function (option) {
                            if (option.hasAttribute('selected')) {
                                option.removeAttribute('selected')
                            }
                        })
                    }

                    var selectHours = document.getElementById('selectHours')
                    if (selectHours) {
                        var selects = Array.from(selectHours.children)
                        selects.forEach(function (option) {
                            if (option.hasAttribute('selected')) {
                                option.removeAttribute('selected')
                            }
                        })
                    }
                    selectHours.addEventListener('change', function (event) {
                        var minutes = '00';
                        if (this.value.toString() === '21') {
                            minutes = '15'
                        }
                        dateInput = info.dateStr + ' ' + this.value + ':' + minutes

                        $("#dateInput").val(dateInput)
                    })
                    $("#delete-div").attr('style', 'display: none');
                },
                eventClick: function (info) {
                    $('#form-classes').removeAttr('style')

                    function getDateInfo(date) {
                        var event = null
                        date = date.getFullYear() + '-' + date.getUTCMonth() + '-' + date.getDate() + 'T' + date.getHours() + ':' + date.getMinutes() + ':' + '00' + '-03' + 'Z'
                        $.ajax({
                            'async': false,
                            'type': "GET",
                            'url': "/student/class",
                            'data': {datetime: date},
                            success: function (data) {
                                event = data;
                            },
                            error: function (data) {
                                event = null;
                            }
                        });
                        return event;
                    }

                    var weekdays = [
                        'Domingo',
                        'Segunda-feira',
                        'Terça-feira',
                        'Quarta-feira',
                        'Quinta-feira',
                        'Sexta-feira',
                        'Sábado'
                    ]

                    let start = info.event.start;
                    let actualMonth = start.getMonth() + 1
                    var dateInfo = getDateInfo(start);
                    if (start.getHours() === 21) {
                        start.setMinutes(15)
                    }
                    weekdayTag.innerText = weekdays[start.getDay()]
                    information.innerText = start.toLocaleDateString('pt-br') + ' - ' + (start.getHours() < 10 ? '0' : '') + start.getHours() + ':' + (start.getMinutes() < 10 ? '0' : '') + start.getMinutes();

                    $('#text-choose').attr('style', 'display: none')

                    var selectsClasses = Array.from(document.getElementById('selectClasses').children)
                    selectsClasses.forEach(function (option) {
                        if (option.innerHTML === info.event.title) {
                            option.setAttribute('selected', true)
                        } else {
                            option.removeAttribute('selected')
                        }
                    })

                    var selectHours = document.getElementById('selectHours')
                    var selects = Array.from(selectHours.children)

                    selects.forEach(function (option) {
                        if (option.value === start.getHours().toString()) {
                            option.setAttribute('selected', true)
                        } else {
                            option.removeAttribute('selected')
                        }
                    })

                    selectHours.addEventListener('change', function (event) {
                        var minutes = '00';
                        if (this.value.toString() === '21') {
                            minutes = '15'
                        }
                        dateInput = start.getFullYear() + '-' + actualMonth + '-' + start.getDate() + 'T' + this.value + ':' + minutes + ':' + '00' + '-03' + 'Z'
                        $("#dateInput").val(dateInput)
                    })


                    if (dateInfo && dateInfo.videoUrl) {
                        $("#youtube").val(dateInfo.videoUrl)
                    } else {
                        $("#youtube").val('')
                    }
                    date = start.getFullYear() + '-' + actualMonth + '-' + start.getDate() + 'T' + start.getHours() + ':' + start.getMinutes() + ':' + '00' + '-03' + 'Z'
                    console.log(date)
                    $("#dateInput").val(date)
                    if(dateInfo) {
                        $("#delete-div").removeAttr('style');
                        $("#delete-button").click(function () {
                            $.ajax({
                                'async': false,
                                'type': "POST",
                                'url': "/teacher/class/delete",
                                'data': JSON.stringify({datetime: date}),
                                success: function (data) {
                                    location.reload()
                                },
                                error: function (data) {
                                    event = null;
                                }
                            });
                        })
                    } else {
                        $("#delete-div").attr('style', 'display: none');
                    }

                },
                buttonText: {
                    today: "Hoje",
                    month: "Mes",
                    week: "Semana",
                    day: "Dia",
                    list: "Lista"
                },
                bootstrapFontAwesome: {
                    prev: " simple-icon-arrow-left",
                    next: " simple-icon-arrow-right",
                    prevYear: " simple-icon-control-start",
                    nextYear: " simple-icon-control-end"
                },
                height: "auto",
            });
            calendar.render();
        });
    </script>
{% endblock %}