{% extends 'base/template.html.twig' %}

{% block title %}Lovelace{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="mb-2">
                    <h1>Projeto Lovelace</h1>
                </div>
                <ul class="nav nav-tabs separator-tabs ml-0 mb-5" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="first-tab" data-toggle="tab" href="#first" role="tab"
                           aria-controls="first" aria-selected="true">INICIO</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" id="second-tab" data-toggle="tab" href="#second" role="tab"
                           aria-controls="second" aria-selected="false">VOLUNTÁRIOS</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane show active" id="first" role="tabpanel" aria-labelledby="first-tab">
                        <div class="row">
                            <div class="col-12 mb-5">
                                <img class="social-header card-img header-image"/>
                            </div>
                            <div class="col-12 col-lg-5 col-xl-4 col-left">
                                <img alt="Profile" id="ada-profile" src="/img/profile-ada.jpg"
                                     class="img-thumbnail card-img social-profile-img">
                                <div class="card mb-4" style="overflow: hidden; max-height: 400px;" id="about-ada">
                                    <div class="card-body" id="card-body">
                                        <div class="text-center pt-4">
                                            <p class="list-item-heading pt-2">Ada Lovelace</p>
                                        </div>
                                        <p id="part-1" class="mb-3">
                                            Há quase 2 séculos, sob os preconceitos e conceitos do séculos XIX,
                                            nascia “a mãe da programação”, Ada Augusta Bryon King, a condessa de
                                            Lovelace,
                                            a habilidosa matemática que se tornou a primeira programadora da história.
                                            A história dela serve como inspiração para o nosso projeto.
                                        </p>
                                        <p id="part-2" class="mb-3 d-inline-block">
                                            Que a participação feminina na área de ciências e tecnologia ainda é um
                                            pouco tímida,
                                            isso é incontestável, mas um fato histórico curioso que pode motivar as
                                            estudantes
                                            e futuras estudantes de computação é que o primeiro programa de computador
                                            da história foi escrito por uma mulher.
                                        </p>
                                        <p class="mb-3">
                                            Ada Augusta Byron King, a condessa de Lovelace, assumiu esse titulo após
                                            se
                                            casar aos vinte anos, ficando mais conhecida como Ada Lovelace. Ela era
                                            filha de um poeta inglês Lord Byron e Anne Isabelle, conhecida como
                                            Annabella. Apesar da fama de seu pai, Annabella não queria que Ada fosse
                                            poeta e procurou ensinar a sua filha matemática e música.
                                        </p>
                                        <p class="mb-3">
                                            Ada era uma das poucas pessoas do mundo a entender o funcionamento da
                                            maquina programada a cartões perfurados, e em 1843, ela criou um
                                            algoritmo
                                            que calcula a sequência de Bernoulli, uma dada sequência de números
                                            racionais, o algoritmo teria funcionado se a máquina de Babbage tivesse
                                            realmente sido construída, mas o projeto somente foi concluído em 2002,
                                            pelo
                                            Museu da História do Computador, em Londres.
                                        </p>
                                        <p class="mb-3">
                                            Mas o que poucos sabem é que essa não foi a maior contribuição de Ada,
                                            historiadores acreditam que sua maior contribuição foi enxergar o
                                            computador
                                            mecânico além de uma simples calculadora avançada; Ada acreditava que
                                            era
                                            possível fazer outras operações além de cálculos matemáticos, então,
                                            inventou o conceito de sub-rotina, uma sequência de instruções que pode
                                            ser
                                            usada várias vezes; loop, uma instrução que permite a repetição de uma
                                            sequência de cartões perfurados; e do salto condicional, que permite
                                            saltar algum cartão caso uma condição seja satisfeita.
                                        </p>
                                        <p class="mb-3">
                                            Na década de 70 o departamento de defesa norte-americano criou a
                                            linguagem
                                            de programação Ada, em homenagem a Ada Lovelace, a linguagem
                                            originada de pascal era usada em missões criticas, como por exemplo, em
                                            softwares de aviação.
                                        </p>
                                        <p class="mb-3">
                                            Ada faleceu em Londres no dia 27 de Novembro de 1852, aos 36 anos, de
                                            câncer
                                            de útero, os projetos de Babbage foram redescobertos 100 anos depois,
                                            juntamente com as notas da Condessa de Lovelace, que ficou mundialmente
                                            conhecida.
                                        </p>

                                        <p class="text-muted text-small mb-2">Fonte</p>
                                        <p class="mb-3">UFCG, Historias da programação</p>
                                    </div>
                                    <div class="toggle">
                                        <a style="cursor: pointer; text-decoration: none; color: white" class="h6"
                                           id="toggle">ver mais</a>
                                    </div>
                                </div>
                                <div class="card mb-4 d-lg-block">
                                    <div class="card-body">
                                        <h5 class="card-title"><span>Quem somos</span></h5>
                                        <div class="d-flex flex-column mb-4 justify-content-between">
                                            <div class="w-100">
                                                <img src="/img/woman-coding.jpg" class="w-100"
                                                     style="border-radius: 0.75em">
                                            </div>
                                            <div class="pt-4">
                                                <p>
                                                    Somos um grupo de profissionais da área de Tecnologia da Informação
                                                    que
                                                    decidiram dedicar-se ao trabalho voluntário, levando conhecimento
                                                    para
                                                    pessoas
                                                    em situação de vulnerabilidade social e que possuem uma grande
                                                    vontade
                                                    de
                                                    aprender e evoluir nessa área.
                                                </p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-7 col-xl-8 col-right">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div class="w-100 d-block d-md-none">
                                            <img src="/img/hands.jpeg" class="w-100"
                                                 style="border-radius: 0.75em">
                                        </div>
                                        <div class="d-flex flex-row justify-content-between">
                                            <div>
                                                <h2 class="mb-3 mt-5 mt-md-2">
                                                    Quer ser voluntário ?
                                                </h2>
                                                <div class="d-flex mt-5 align-self-end">
                                                    <ul class="align-self-center">
                                                        <li class="h5">Projeto <span style="color: #849b65">colaborativo</span></li>
                                                        <li class="h5">Desafio de ensinar quem realmente <span style="color: #849b65">precisa</span></li>
                                                        <li class="h5"><span style="color: #849b65">Alunos são isentos</span> de custos</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="w-30 d-none d-md-block">
                                                <img src="/img/hands.jpeg" class="w-100"
                                                     style="border-radius: 0.75em">
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-end">
                                            <h3>
                                                <a href="{{ path('register_volunteer') }}" style="color: #ad8c1b">Inscreva-se
                                                    agora</a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <h3 class="mb-3">
                                            Sobre o projeto
                                        </h3>
                                        <div class="w-100 d-block d-md-none">
                                            <img src="/img/child-computer-1.jpg" class="w-100"
                                                 style="border-radius: 0.75em">
                                        </div>
                                        <div class="mt-5">
                                            <div class="d-flex flex-row mb-4 justify-content-between">
                                                <div class="mr-5">
                                                    <p class="h6">
                                                        O projeto Lovelace é um projeto sem fins lucrativos
                                                    </p>
                                                    <p class="h6">
                                                        O objetivo do projeto é levar o conhecimento de tecnologia da
                                                        informação para pessoas em situação de vulnerabilidade social e
                                                        que tenham muita vontade de aprender e evoluir nessa área.
                                                    </p>
                                                    <h3 class="mt-5 mb-3">
                                                        O que será ensinado no curso?
                                                    </h3>
                                                    <p>
                                                        Durante o curso vamos ensinar desde temas mais básicos como
                                                        lógica de programação, linguagem de programação , até temas mais
                                                        complexos como por exemplo microsserviços, criação de apis,
                                                        segurança da informação, bancos relacionais e não relacionais,
                                                        testes unitários de testes de integração.
                                                    </p>
                                                    <h3 class="mt-5 mb-3">
                                                        Quanto custa ?
                                                        <i style="font-size: 35px" class="iconsminds-dollar"></i>
                                                    </h3>
                                                    <p>
                                                        R$0,00
                                                    </p>
                                                    <p>
                                                        Desde que esteja em situação de vulnerabilidade social e ter
                                                        determinação e vontade de aprender.
                                                    </p>
                                                </div>
                                                <div class="w-80 d-md-block">
                                                    <img src="/img/child-computer-1.jpg" class="w-100"
                                                         style="border-radius: 0.75em">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="tab-panel fade" id="second" role="tabpanel" aria-labelledby="second-tab">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="card d-flex flex-row mb-4">
                                    <a class="d-flex" href="#">
                                        <img alt="Profile" src="/img/people/henrique.jpg"
                                             class="img-thumbnail border-0 rounded-circle m-4 list-thumbnail align-self-center">
                                    </a>
                                    <div class=" d-flex flex-grow-1 min-width-zero">
                                        <div
                                                class="card-body pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                                            <div class="min-width-zero">
                                                <p class="list-item-heading mb-1 truncate">Henrique Borges</p>
                                                <p class="mb-2 text-muted text-small">Analista e desenvolvedor de
                                                    sistemas Sênior</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="card d-flex flex-row mb-4">
                                    <a class="d-flex" href="#">
                                        <img alt="Profile" src="/img/people/rodrigo.jpeg"
                                             class="img-thumbnail border-0 rounded-circle m-4 list-thumbnail align-self-center">
                                    </a>
                                    <div class=" d-flex flex-grow-1 min-width-zero">
                                        <div
                                                class="card-body pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                                            <div class="min-width-zero">
                                                <p class="list-item-heading mb-1 truncate">Rodrigo Toledo</p>
                                                <p class="mb-2 text-muted text-small">Engenheiro de software</p>
                                                <p class="mb-2 text-muted text-small">"Declarem seus valores como
                                                    constantes e não como random"</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="card d-flex flex-row mb-4">
                                    <a class="d-flex" href="#">
                                        <img alt="Profile" src="/img/people/simone.jpg"
                                             class="img-thumbnail border-0 rounded-circle m-4 list-thumbnail align-self-center">
                                    </a>
                                    <div class=" d-flex flex-grow-1 min-width-zero">
                                        <div
                                                class="card-body pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                                            <div class="min-width-zero">
                                                <p class="list-item-heading mb-1 truncate">Simone Santos Rodrigues</p>
                                                <p class="mb-2 text-muted text-small">Agile master</p>
                                                <p class="mb-2 text-muted text-small">Menina do Post-it que atua no
                                                    mercado de TI a aproximadamente 7 anos, formada em Análise e
                                                    Desenvolvimento de Sistemas pela FATEC São Caetano do Sul, com
                                                    algumas certificações na área de agilidade. Adoro compartilhar
                                                    conhecimento, comer chocolate, levar uns tombo de patins e ler um
                                                    bom livro.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="card d-flex flex-row mb-4">
                                    <a class="d-flex" href="#">
                                        <img alt="Profile" src="/img/people/fernanda.jpg"
                                             class="img-thumbnail border-0 rounded-circle m-4 list-thumbnail align-self-center">
                                    </a>
                                    <div class=" d-flex flex-grow-1 min-width-zero">
                                        <div
                                                class="card-body pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                                            <div class="min-width-zero">
                                                <p class="list-item-heading mb-1 truncate">Fernanda Souza</p>
                                                <p class="mb-2 text-muted text-small">Desde 1985 ocupando um espaço no
                                                    mundo. Graduanda de Análise e Desenvolvimento de Sistemas na FATEC
                                                    Ferraz de Vasconcelos, mãe desde 2006 de um menino incrível e
                                                    atualmente viciada em bootcamps e Valorant. Acredito que
                                                    compartilhar conhecimento multiplica o saber próprio e que viver é o
                                                    meu maior ato político.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="card d-flex flex-row mb-4">
                                    <a class="d-flex" href="#">
                                        <img alt="Profile" src="/img/people/flavio.jpg"
                                             class="img-thumbnail border-0 rounded-circle m-4 list-thumbnail align-self-center">
                                    </a>
                                    <div class=" d-flex flex-grow-1 min-width-zero">
                                        <div
                                                class="card-body pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                                            <div class="min-width-zero">
                                                <p class="list-item-heading mb-1 truncate">Flavio Santos</p>
                                                <p class="mb-2 text-muted text-small">Analista de sistemas</p>
                                                <p class="mb-2 text-muted text-small">Apaixonado por tecnologia, aceitei
                                                    o desafio de iniciar programação na minha vida em 2012.
                                                    Sou analista de sistema da empresa PRAVALER, desenvolvendo tanto na
                                                    parte de back-end e front-end.
                                                    Sempre desenvolvendo sistemas web usando diferentes liguagens e
                                                    tecnologias como :
                                                    PHP, JavaScript, TypeScript, bancos de dados mongoDB, Postgresql,
                                                    Mysql e HTML, CSS.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script>
        aboutAda = document.getElementById("about-ada")
        buttonToggle = document.getElementById("toggle")
        buttonToggle.addEventListener('click', function () {
            if (aboutAda.style.maxHeight != "100%") {
                console.log(buttonToggle)
                aboutAda.style.maxHeight = "100%"
                buttonToggle.innerHTML = "ver menos"
                buttonToggle.setAttribute("href", "#ada-profile")
            } else {
                aboutAda.style.maxHeight = "400px"
                buttonToggle.innerHTML = "ver mais"
                setTimeout(function () {
                    buttonToggle.removeAttribute("href")
                }, 1000);
            }
        })
    </script>
{% endblock %}