{% extends 'base/template.html.twig' %}

{% block title %}Lovelace{% endblock %}

{% block content %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    <div class="example-wrapper">
    </div>

    <div class="col-xl-12 col-lg-12 mb-4">
        <p style="font-size: 50px" class="mb-5">
            Quem somos
        </p>
        <div class="card h-100">
            <div class="card-body">
                <p style="font-size: large">
                    Somos um grupo de profissionais da área de Tecnologia da Informação que decidiram dedicar-se
                    ao trabalho voluntário, levando conhecimento para pessoas em situação de vulnerabilidade social
                    e que possuem uma grande vontade de aprender e evoluir nessa área.
                </p>
            </div>
        </div>
    </div>
{% endblock %}