{% extends 'base/template.html.twig' %}

{% block title %}Lovelace{% endblock %}

{% block content %}

    <div class="container-fluid disable-text-selection">
        <div class="row">
            <div class="col-12">
                <div class="mb-3">
                    <h1>{{ user.name }}</h1>
                </div>
                <div class="separator mb-5"></div>
            </div>
        </div>

{% endblock %}