<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Lovelace Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="font/iconsmind-s/css/iconsminds.css"/>
    <link rel="stylesheet" href="font/simple-line-icons/css/simple-line-icons.css"/>

    <link rel="stylesheet" href="css/vendor/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/vendor/bootstrap.rtl.only.min.css"/>
    <link rel="stylesheet" href="css/vendor/bootstrap-float-label.min.css"/>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="icon" href="img/logo-single.png">
    <link rel="stylesheet" href="node_modules/@fortawesome/fontawesome-free/css/all.css">
</head>
<body>
<link rel="stylesheet" href="css/animatedBackground.css"/>
<div class="area">
    <ul class="circles">
        <li>PHP</li>
        <li>SQL</li>
        <li>Java</li>
        <li>JavaScript</li>
        <li>Soft Skills</li>
        <li>Scrum</li>
        <li>Agile</li>
        <li>Mysql</li>
        <li>MongoDB</li>
        <li>Lovelace</li>
        <li>Python</li>
        <li>PHP</li>
        <li>Docker</li>
        <li>Logica de programaçao</li>
        <li>Linux</li>
        <li class="fas fa-code"></li>
        <li class="fab fa-connectdevelop"></li>
        <li class="fas fa-code"></li>
    </ul>
</div>

<div class="context" style="margin: 0 auto !important; top: 0; bottom: 0">
    <main style="margin-right: 0; margin-left: 0">
        <div class="container">
            <div id="success" class="alert alert-success rounded mx-auto w-90 pt-3 pb-3" style="display: none" role="alert">
                verifique o seu email para continuar o cadastro
            </div>
            <div id="warning" class="alert alert-warning rounded mx-auto w-90" style="display: none" role="alert">
                preencha todos os campos
            </div>
            <div class="row h-100">
                <div class="col-12 col-md-10 mx-auto my-auto">
                    <div class="card auth-card">
                        <div class="position-relative image-side position-relative d-flex flex-column justify-content-end">
                            <div class="text-side">
                                <p class="h2 font-side">BEM VINDO(A)</p>
                                <p class="h2 font-side">AO PROJETO LOVELACE</p>
                                <p class="font-side">Por favor preencha o registro.</p>
                                </br>
                                <p class="font-side">
                                    Se ja for membro, faça &nbsp;
                                    <a style="color: #303d1f" href="#"> login</a>.
                                </p>

                            </div>
                        </div>
                        <div class="form-side">
                            <a href={{ path('index') }}>
                                <span class="logo-single"></span>
                            </a>
                            <h6 class="mb-4">Registrar</h6>

                            <form action="{{ path('validateRegister') }}" id="register">
                                <label class="form-group has-float-label mb-4">
                                    <input id="name" name="name" class="form-control"/>
                                    <span>Nome</span>
                                </label>
                                <label class="form-group has-float-label mb-4">
                                    <input id="email" name="email" type="email" class="form-control"/>
                                    <span>E-mail</span>
                                </label>
                                <label class="form-group has-float-label mb-4">
                                    <input id="password" name="password" class="form-control" type="password" placeholder=""/>
                                    <span>Senha</span>
                                </label>
                                <div class="d-flex justify-content-end align-items-center">
                                    <button id="submitButton" class="btn btn-primary btn-lg btn-shadow" type="submit">REGISTRAR
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="js/vendor/jquery-3.3.1.min.js"></script>
    <script src="js/vendor/bootstrap.bundle.min.js"></script>
    <script src="js/dore.script.js"></script>
    <script src="js/scripts.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        var myForm = document.getElementById('register');
        var warning = document.getElementById('warning');
        var success = document.getElementById('success');
        var submitButton = document.getElementById('submitButton');
        myForm.addEventListener('submit', (function(e) {
            submitButton.setAttribute("disabled", true)

            e.preventDefault();
            var objectForm = new FormData(myForm);
            var url = myForm.getAttribute("action");

            result = {"register" : {}};

            for (var entry of objectForm.entries())
            {
                result["register"][entry[0]] = entry[1];
            }
            result = JSON.stringify(result)

            $.ajax({
                type: "POST",
                url: url,
                data: result,
                success: function(data)
                {
                    var validation = (data[0]['validation']);
                    validation.forEach(function (item, index){
                        messageArray = (item.field).split(".");
                        var field = document.getElementById(messageArray.pop())
                        field.classList.remove('isFill')
                        field.setAttribute("style", "")
                        field.setAttribute("disabled", true)
                    })
                    warning.setAttribute("style", "display: none")
                    submitButton.setAttribute("disabled", true)
                    setTimeout(function() {
                        success.setAttribute("style", "")
                    }, 1000);
                },
                error: function (data)
                {
                    submitButton.removeAttribute("disabled")
                    responseText = JSON.parse(data.responseText);
                    message = JSON.parse(responseText.message);
                    fieldsFailed = [];
                    fieldsIsFill = [];
                    message.forEach(function (item){
                        messageArray = (item.field).split(".");
                        lastMessage = messageArray.pop()
                        fieldsFailed.push(lastMessage);
                        var field = document.getElementById(lastMessage)
                        field.setAttribute("style", "border-color: #ad8c1b")
                        if(field.getAttribute('class').split(" ").indexOf("isFill") == -1){
                            field.setAttribute("class", field.getAttribute('class') + " isFill")
                        }
                    })
                    isFill = document.getElementsByClassName('isFill');
                    isFillArray = Array.from(isFill);
                    isFillArray.forEach(function (value){
                        fieldsIsFill.push(value.id);
                    })
                    var difference = $(fieldsIsFill).not(fieldsFailed).get();

                    difference.forEach(function (key, value){
                        var field = document.getElementById(key)
                        field.classList.remove('isFill')
                        field.setAttribute("style", "")
                    })

                    warning.setAttribute("style", "")
                }
            });
        }));
    </script>
</div>
</body>
<style>
    @media (max-width: 767px) {
        main {
            margin: 20px auto !important;
        }
    }
</style>
</html>