{% extends 'base/template.html.twig' %}

{% block title %}Portal Lovelace{% endblock %}

{% block vendor_css %}
    <link href='/node_modules/fullcalendar/main.css' rel='stylesheet'/>
    <link rel="stylesheet" href="/css/vendor/fullcalendar.css"/>
    <link rel="stylesheet" href="/css/fullcalendar.css"/>
{% endblock %}

{% block content %}
    <h3>Olá {{ app.user.name }}</h3>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 col-lg-8 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Calendário</h5>
                        <div id="calendar" class="calendar"></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Informações</h5>
                        <p class="h5" id="title"></p>
                        <p class="h6" id="weekday"></p>
                        <p id="information"></p>
                        <div id="video-div">
                            <iframe id="video" src="" frameborder="0"
                                    showinfo="0"
                                    modestbranding="1"
                                    autohide="1"
                                    allownetworking="internal"
                                    allow=" autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>
                            </iframe>
                            <div class="text-center">
                                <span id="text-choose" class="h2">Escolha uma aula</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="/js/vendor/moment.min.js"></script>
    <script src="/node_modules/fullcalendar/main.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var information = document.getElementById("information");
            var weekdayTag = document.getElementById("weekday");
            var title = document.getElementById("title");
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                locale: 'pt-br',
                themeSystem: "bootstrap",
                hour: 'numeric',
                minute: '2-digit',
                omitZeroMinute: false,
                meridiem: false,
                eventClick: function (info) {
                    function getDateInfo(date) {
                        var event = null
                        date.setMonth(date.getMonth() + 1)
                        date = date.getFullYear() + '-' + date.getMonth() + '-' + date.getDate() + 'T' + date.getHours() + ':' + date.getMinutes() + ':' + '00' + '-03' + 'Z'
                        $.ajax({
                            'async': false,
                            'type': "GET",
                            'url': "/student/class",
                            'data': {datetime: date},
                            success: function (data) {
                                event = data;
                            },
                            error: function (data) {
                                event = null;
                            }
                        });
                        return event;
                    }

                    var weekdays = [
                        'Domingo',
                        'Segunda-feira',
                        'Terça-feira',
                        'Quarta-feira',
                        'Quinta-feira',
                        'Sexta-feira',
                        'Sábado'
                    ]

                    let start = info.event.start;
                    var dateInfo = getDateInfo(start);
                    title.innerText = info.event.title;
                    weekdayTag.innerText = weekdays[start.getDay()]
                    information.innerText = start.toLocaleDateString('pt-br') + ' - ' + (start.getHours()<10?'0':'') + start.getHours() + ':' + (start.getMinutes()<10?'0':'') + start.getMinutes();
                    if (dateInfo && dateInfo.videoUrl) {
                        $('#video').attr('src', dateInfo.videoUrl)
                        $('#video-div').addClass('h-100')
                        $('#text-choose').attr('style', 'display: none')
                    } else {
                        $('#text-choose').text('Sem video');
                        $('#video').removeAttr('src')
                        $('#video-div').removeClass('h-100')
                        $('#text-choose').removeAttr('style')
                    }
                },
                buttonText: {
                    today: "Hoje",
                    month: "Mes",
                    week: "Semana",
                    day: "Dia",
                    list: "Lista"
                },
                events: function (fetchInfo, successCallback, failureCallback) {
                    var events = function () {
                        var event = null
                        $.ajax({
                            'async': false,
                            'type': "GET",
                            'url': "/student/classes",
                            success: function (data) {
                                event = data;
                            },
                            error: function (data) {
                                event = [];
                            }
                        });
                        return event;
                    }()
                    successCallback(events)
                },
                bootstrapFontAwesome: {
                    prev: " simple-icon-arrow-left",
                    next: " simple-icon-arrow-right",
                    prevYear: " simple-icon-control-start",
                    nextYear: " simple-icon-control-end"
                },
                height: "auto",
            });
            calendar.render();
        });
    </script>
{% endblock %}