{% extends 'base/template.html.twig' %}

{% block title %}Portal Lovelace{% endblock %}

{% block content %}
    <h3>Olá {{ app.user.name }}</h3>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 col-lg-12 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Calendar</h5>
                        <div class="calendar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="/js/vendor/moment.min.js"></script>
    <script src="/js/vendor/fullcalendar.min.js"></script>
{% endblock %}