<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Erro no servidor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/font/iconsmind-s/css/iconsminds.css"/>
    <link rel="stylesheet" href="/font/simple-line-icons/css/simple-line-icons.css"/>

    <link rel="stylesheet" href="/css/vendor/component-custom-switch.min.css"/>
    <link rel="stylesheet" href="/css/vendor/perfect-scrollbar.css"/>

    <link rel="stylesheet" href="/css/vendor/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/vendor/bootstrap.rtl.only.min.css"/>
    <link rel="stylesheet" href="/css/vendor/bootstrap-float-label.min.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="icon" href="/img/logo-single.png">
    <link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<link rel="stylesheet" href="/css/animatedBackground.css"/>
<div class="area">
    <ul class="circles">
        <li>PHP</li>
        <li>SQL</li>
        <li>Java</li>
        <li>JavaScript</li>
        <li>Soft Skills</li>
        <li>Scrum</li>
        <li class="fas fa-code"></li>
        <li class="fab fa-connectdevelop"></li>
        <li class="fas fa-code"></li>
    </ul>
</div>

<div class="context d-flex justify-content-center align-items-center" style="margin: 0 auto !important; top: 0; bottom: 0">
    <main style="margin-right: 0; margin-left: 0" class="">
        <div class="container h-100 w-100">
            <div class="row h-100">
                <div class="col-12 col-md-10 mx-auto my-auto">
                    <div class="card auth-card">
                        <div class="position-relative image-side position-relative d-flex flex-column justify-content-end">
                            <div class="text-side">
                                <p class="h5 font-side">HOUVE ALGUM ERRO NO SERVIDOR</p>
                            </div>
                        </div>
                        <div class="form-side w-100 text-center">
                            <p class="text-center display-1 font-weight-bold mb-5">
                                500
                            </p>
                            <a href="{{ path('index') }}" class="btn btn-primary btn-lg btn-shadow">VOLTAR AO INÍCIO</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/js/vendor/perfect-scrollbar.min.js"></script>
    <script src="/js/vendor/mousetrap.min.js"></script>
    <script src="/js/vendor/bootstrap-notify.min.js"></script>
    <script src="/js/dore.script.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/js/scripts/login.js"></script>
</div>
</body>
<style>
    @media (max-width: 767px) {
        main {
            margin: 20px auto !important;
        }
    }
</style>
</html>
